@page "/Coordinator_VolunteerPage"
@using Festivalcito.Shared.Classes;
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navigationManager

<div>
    <a href="/" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Go to home
    </a>

    <a href="/Coordinator_ShiftPage" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Go to Coordinator Shift Page
    </a>

    <button class="btn btn-primary" @onclick="@(()=>UserLogOut())">Logout</button>
</div>

<div style="display:flex">
    <h1>Coordinator Select Volunteer Page</h1>
</div>
<div><span>You cannot remove people with active shift assignments</span></div>

<div>
    <div class="row">
        <div class="col-sm">
            <table>
                <tr>
                    <th style="width:33%">Name</th>
                    <th style="width:33%">Birthday</th>
                    <th style="width:33%">Remove from my list</th>
                </tr>
                <!--Præsenterer alle personer på koordinatorens Area-->
                @foreach (Person person in ListOfAllPeopleOnArea)
                {
                    <tr>
                        <td><span>@person.FirstName @person.LastName</span></td>
                        <td><span>@person.DateOfBirth.ToString("yyyy-MM-dd")</span></td>
                        <td><button @onclick="@(()=>RemoveUserFromCoordinatorList(person))">Remove</button></td>
                    </tr>
                }


            </table>
        </div>


        <div class="col-sm" style="background-color:lightslategray">


            <table>
                <tr>
                    <th style="width:30%">Name</th>
                    <th style="width:30%">Birthday</th>
                    <th style="width:15%">Grab to my list</th>
                    <th style="width:15%">Send email</th>
                </tr>
                <!--Præsenterer alle personer som ikke har PersonAssignment-->
                @foreach (Person person in GlobalList)
                {
                    <tr>
                        <td><span>@person.FirstName @person.LastName</span></td>
                        <td><span>@person.DateOfBirth.ToString("yyyy-MM-dd")</span></td>
                        <td><button @onclick="@(()=>AddUserToCoordinatorList(person))">Select</button></td>
                        <td><button @onclick="@(()=>SendEmailToUser(person))">Send</button></td>
                    </tr>
                }


            </table>



        </div>




    </div>
</div>




