@page "/Coordinator_ShiftPage"
@using Festivalcito.Shared.Classes;
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navigationManager

<div>
    <a href="/" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Go to home
    </a>

    <a href="/Coordinator_VolunteerPage" class="btn btn-primary">
        <i class="fas fa-arrow-left"></i> Go to Coordinator Volunteer Page
    </a>
    <button class="btn btn-primary" @onclick="@(()=>UserLogOut())">Logout</button>


    <h1>Coordinator Shift Page</h1>
</div>

<div>
    <div class="row">
        <div>
            <label for="exampleFormControlInput1" class="form-label">Area </label>
            @foreach (Area area in AllAreas){
                    <button type="button" @onclick="@(() => updatePresentedShiftsList(area.AreaID))">@area.AreaName</button>
            }
        </div>
        <span>Select <strong>area</strong> before you create or update a shift</span>
        <br />
        <br />
        <div class="col-sm">
            <EditForm EditContext="@EditContextShift"
                      OnValidSubmit="@(()=>HandleValidSubmit())">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div style="width:20%">
                    <div>
                        <label>Shift name</label>
                        <InputText @bind-Value="ShiftValidation.ShiftName"></InputText>
                        <ValidationMessage For="@(() => ShiftValidation.ShiftName)" />
                    </div>
                    <div>
                        <label>Age min</label>
                        <InputNumber @bind-Value="ShiftValidation.AgeMin"></InputNumber>
                    </div>
                    <div>
                        <label>RequiredVolunteers</label>
                        <InputNumber @bind-Value="ShiftValidation.RequiredVolunteers"></InputNumber>
                    </div>
                    <div>
                        <label>HourMultiplier</label>
                        <InputNumber @bind-Value="ShiftValidation.HourMultiplier"></InputNumber>
                    </div>
                    <div>
                        <label>StartTime</label>
                        <input type="datetime" @bind="ShiftValidation.StartTime">
                    </div>
                    <div>
                        <label>EndTime</label>
                        <input type="datetime" @bind="ShiftValidation.EndTime">
                    </div>


                    <div>
                        <label>is locked</label>
                        <InputCheckbox @bind-Value="ShiftValidation.IsLocked"></InputCheckbox>
                    </div>

                    <button type="submit">@submitButtonText</button>
                </div>
            </EditForm>


        </div>
        <div class="col-sm">
            <button @onclick="@(()=>sortList("shiftPoints"))">Sort by points</button>
            <button @onclick="@(()=>sortList("RequiredVolunteers"))">Sort by RequiredVolunteers</button>
            <table>
                <tr>
                    <th style="width:30%">Name</th>
                    <th style="width:30%">RequiredVolunteers</th>
                    <th style="width:10%">HourMultiplier</th>
                    <th style="width:10%">Points</th>
                    <th style="width:15%">Update</th>
                    <th style="width:15%">Delete</th>
                </tr>
                @foreach (Shift shift in PresentedShiftsList)
                {
                    <tr>
                        <td><span>@shift.ShiftName</span></td>
                        <td><span>@shift.RequiredVolunteers / @shift.PeopleAssignedToShift</span></td>
                        <td><span>@shift.HourMultiplier</span></td>
                        <td><span>@shift.shiftPoints</span></td>
                        <td><button @onclick="@(()=>selectShift(shift))">Select</button></td>
                        <td><button @onclick="@(()=>deleteShift(shift.ShiftID))">Delete</button></td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>