@page "/Coordinator_ShiftPage"
@using Festivalcito.Shared.Classes;

<h1>Coordinator_ShiftPage</h1>

<div>
    
    

    <EditForm EditContext="@EditContextShift" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div style="width:20%">
            <div>
                <label>Shift name</label>
                <InputText @bind-Value="@ShiftValidation.ShiftName"></InputText>
            </div>
            <div>
                <label>Age min</label>
                <InputNumber @bind-Value="@ShiftValidation.AgeMin"></InputNumber>
            </div>
            <div>
                <label>RequiredVolunteers</label>
                <InputNumber @bind-Value="@ShiftValidation.RequiredVolunteers"></InputNumber>
            </div>
            <div>
                <label>HourMultiplier</label>
                <InputNumber @bind-Value="@ShiftValidation.HourMultiplier"></InputNumber>
            </div>
            <div>
                <label>StartTime</label>
                <InputDate @bind-Value="@ShiftValidation.StartTime"></InputDate>
            </div>
            <div>
                <label>EndTime</label>
                <InputDate @bind-Value="@ShiftValidation.EndTime"></InputDate>
            </div>

            <div>
                <label for="exampleFormControlInput1" class="form-label">Area</label>
                <select @bind="@ShiftValidation.areaId">
                    @foreach (Area area in AllAreas)
                    {
                        <option value="@area.AreaID">@area.AreaName</option>
                    }
                </select>

            </div>
            <div>
                <label>is locked</label>
                <InputCheckbox @bind-Value="@ShiftValidation.IsLocked">

                </InputCheckbox>
            </div>

            <button type="submit">@submitButtonText</button>
        </div>
    </EditForm>


</div>




