@page "/volunteerPage"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navigationManager
@using Festivalcito.Shared.Classes;


<a href="/" class="btn btn-primary">
    <i class="fas fa-arrow-left"></i> Go to home
</a>
<div style="display:flex">
    <div style="flex:33.3%">
        <h1>Volunteer info page </h1>
    </div>


    <div class="ShiftAvailableSymbols" style="flex:33.3%">
        <span id="dot3"></span>
        <span> Available shift  </span>
        <span id="dot2"></span>
        <span> Taken shift  </span>
        <span id="dot1"></span>
        <span>Locked shift by coordinator </span>
    </div>


    <div style="flex:33.3%">
        <h6>Your festival points: @personTotalPoints</h6>
        <button @onclick="@(()=>UserLogOut())">Log out</button>
    </div>


</div>

<div style="height: 600px; background-color: lightgoldenrodyellow; display: flex; overflow: auto">

    @for (int i = 19; i < 22; i++)
    {
        <table style="flex: 33.3%; text-align: center" class="table">
            <thead>
                <tr>
                    <th>@convertDay(i)</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Shift shift in ListOfPersonAreaShifts)
                {

                    if (shift.StartTime.Month == 12 && shift.StartTime.Day == i)
                    {
                        shift.calculateShiftPoints();
                        <ShiftCalenderCell shift="@shift"
                                           TakeShift="TakeShiftClicked"
                                           RemoveShift="@(()=>removeShiftClicked(shift.ShiftID))" />
                    }
                }
            </tbody>
        </table>
    }

</div>

<div style="width: 100%;background-color:lightcoral">
    <h3>Here you can update your info</h3>
    <EditForm EditContext="@EditContext" class="row p-1"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="w-50 p-3">
            <h5><strong>First name</strong></h5>
            <InputText @bind-Value="@PersonValidation.FirstName" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.FirstName)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Last name</strong></h5>
            <InputText @bind-Value="@PersonValidation.LastName" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.LastName)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>DateOfBirth</strong></h5>
            <InputDate @bind-Value="@PersonValidation.DateOfBirth" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.DateOfBirth)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Gender</strong></h5>
            <InputText @bind-Value="@PersonValidation.Gender" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Gender)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Email</strong></h5>
            <InputText @bind-Value="@PersonValidation.EmailAddress" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.EmailAddress)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Phone number</strong></h5>
            <InputText @bind-Value="@PersonValidation.PhoneNumber" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.PhoneNumber)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Address</strong></h5>
            <InputText @bind-Value="@PersonValidation.Address" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Address)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Country</strong></h5>
            <InputText @bind-Value="@PersonValidation.Country" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Country)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>PostalCode</strong></h5>
            <InputText @bind-Value="@PersonValidation.PostalCode" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.PostalCode)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>City</strong></h5>
            <InputText @bind-Value="@PersonValidation.City" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.City)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>DanishLevel</strong></h5>
            <InputNumber @bind-Value="@PersonValidation.DanishLevel" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.DanishLevel)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Nationality</strong></h5>
            <InputText @bind-Value="@PersonValidation.Nationality" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Nationality)" />
        </div>
        <button type="submit" style="color:green">Update</button>
    </EditForm>
</div>
