@page "/volunteerPage"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@using Festivalcito.Shared.Classes;

<h1>Volunteer info</h1>


<div style="height:600px;background-color:lightgoldenrodyellow">
    <table style="width:100%;text-align:center">
        <tr>
            <th style="width:33%">Friday</th>
            <th style="width:33%">Saturday</th>
            <th style="width:33%">Sunday</th>
        </tr>
        @foreach (Shift shift in ListOfPersonAreaShifts)
        {
                shift.calculateShiftPoints();
            <ShiftCalenderCell shift="@shift" TakeShift="TakeShiftClicked"/>
        }
    </table>
</div>

<div style="width: 100%;background-color:lightcoral">
    <EditForm EditContext="@EditContext" class="row p-1"
              OnValidSubmit="@HandleValidSubmit"
              OnInvalidSubmit="@HandleInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="w-50 p-3">
            <h5><strong>First name</strong></h5>
            <InputText @bind-Value="@PersonValidation.FirstName" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.FirstName)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Last name</strong></h5>
            <InputText @bind-Value="@PersonValidation.LastName" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.LastName)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>DateOfBirth</strong></h5>
            <InputDate @bind-Value="@PersonValidation.DateOfBirth" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.DateOfBirth)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Gender</strong></h5>
            <InputText @bind-Value="@PersonValidation.Gender" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Gender)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Email</strong></h5>
            <InputText @bind-Value="@PersonValidation.EmailAddress" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.EmailAddress)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Phone number</strong></h5>
            <InputText @bind-Value="@PersonValidation.PhoneNumber" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.PhoneNumber)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Address</strong></h5>
            <InputText @bind-Value="@PersonValidation.Address" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Address)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Country</strong></h5>
            <InputText @bind-Value="@PersonValidation.Country" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Country)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>PostalCode</strong></h5>
            <InputText @bind-Value="@PersonValidation.PostalCode" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.PostalCode)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>City</strong></h5>
            <InputText @bind-Value="@PersonValidation.City" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.City)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>DanishLevel</strong></h5>
            <InputNumber @bind-Value="@PersonValidation.DanishLevel" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.DanishLevel)" />
        </div>
        <div class="w-50 p-3">
            <h5><strong>Nationality</strong></h5>
            <InputText @bind-Value="@PersonValidation.Nationality" class="form-control" />
            <ValidationMessage For="@(() => PersonValidation.Nationality)" />
        </div>
        <button type="submit" style="color:green">Update</button>
    </EditForm>
</div>
